mrt-services/no-track
target
.DS_Store
mrt-services/mrt-admin-lambda/consistency-driver/vendor/
**/vendor/
*.swp
.attach_*
dependencies.txt
mrt-services/it.txt
mrt-services/war.txt
build-output/*.txt
build-output/artifacts/
build.content.txt
repos.sorted.txt
repos.txt
test.sql
