[submodule "mrt-services/dep_core/mrt-core2"]
	path = mrt-services/dep_core/mrt-core2
	url = git@github.com:cdluc3/mrt-core2
	branch = main
[submodule "mrt-services/ingest/mrt-ingest"]
	path = mrt-services/ingest/mrt-ingest
	url = git@github.com:cdluc3/mrt-ingest
	branch = main
[submodule "mrt-services/ui/mrt-dashboard"]
	path = mrt-services/ui/mrt-dashboard
	url = git@github.com:CDLUC3/mrt-dashboard
	branch = main
[submodule "mrt-services/store/mrt-store"]
	path = mrt-services/store/mrt-store
	url = git@github.com:cdluc3/mrt-store
	branch = main
[submodule "mrt-services/inventory/mrt-inventory"]
	path = mrt-services/inventory/mrt-inventory
	url = git@github.com:CDLUC3/mrt-inventory
	branch = main
[submodule "mrt-services/audit/mrt-audit"]
	path = mrt-services/audit/mrt-audit
	url = git@github.com:cdluc3/mrt-audit
	branch = main
[submodule "mrt-services/replic/mrt-replic"]
	path = mrt-services/replic/mrt-replic
	url = git@github.com:cdluc3/mrt-replic
	branch = main
[submodule "mrt-services/dep_cloud/mrt-cloud"]
	path = mrt-services/dep_cloud/mrt-cloud
	url = git@github.com:cdluc3/mrt-cloud
	branch = main
[submodule "mrt-integ-tests"]
	path = mrt-integ-tests
	url = git@github.com:cdluc3/mrt-integ-tests.git
	branch = main
[submodule "mrt-zk"]
	path = mrt-services/dep_zk/mrt-zk
	url = git@github.com:cdluc3/mrt-zk
	branch = main
[submodule "mrt-admin-sinatra"]
	path = mrt-services/mrt-admin-sinatra
	url = git@github.com:CDLUC3/mrt-admin-sinatra.git
	branch = main
[submodule "mrt-atom"]
	path = mrt-other/mrt-atom
	url = git@github.com:CDLUC3/mrt-atom.git
	branch = main
[submodule "s3-sinatra"]
	path = mrt-other/s3-sinatra
	url = git@github.com:CDLUC3/s3-sinatra.git
	branch = main
[submodule "uc3-ssm"]
	path = mrt-other/uc3-ssm
	url = git@github.com:CDLUC3/uc3-ssm.git
	branch = main
